# Astro
dist/
.astro/

# Dependencies
node_modules/

# Environment
.env
.env.*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
npm-debug.log
yarn-error.log

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/*.gz
