node_modules/
.cache/
public/
npm-debug.log
.eslintcache
.gatsby-context.js
.DS_Store
.intermediate-representation/
/.idea/workspace.xml
/package-lock.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/*.gz
