@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.bio, .post-bio {
    width: 100%;
    &__author {
        &-photo {
            display: inline-block;
            margin: 0 32px 12px 0;
            float: left;
            border-radius: 50%;
            background-clip: padding-box;
            width: 75px;
            height: 75px;
        }
        &-title {
            font-size: $typographic-base-font-size * 1.125;
            font-weight: 500;
            @include line-height(1.125);
            @include margin(.5, 0, .5, 0);
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-base;
                }
            }
        }
        &-subtitle {
            color: $color-gray;
            margin-top: -12px;
            @include line-height(1);
            @include margin-bottom(1);
        }
    }
}


@include breakpoint-sm {
    .bio {
        lost-column: 5/12;
        &__author {
            &-photo {
                margin: 0 32px 12px 0;
                float: left;
            }
        }
    }
    .post-bio {}
}

@include breakpoint-md {
    .bio {
        lost-column: 1/3;
        &__author {
            &-photo {
                margin: 0;
                float: none;
            }
        }
    }
}
