$color_1: inherit;
$color_2: #a3a3a3;

.large-image-summary-card {
  line-height: 1.5;
  a {
    display: flex;
    color: $color_1;
    text-decoration: none;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
  }
}
.large-image-summary-card__image {
  width: 100%;
  object-fit: cover;
  border-block-end: 1px solid #e5e5e5;
}
.large-image-summary-card__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1.2rem;
}
.large-image-summary-card__description__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 700;
  max-height: calc(2rem * 1.5);
  overflow: hidden;
}
.large-image-summary-card__description__summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  max-height: calc(1.6rem * 1.5);
  overflow: hidden;
  color: $color_2;
}
.large-image-summary-card__description__url {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: $color_2;
  overflow: hidden;
  text-overflow: ellipsis;
}
