/**
 * Generic
 */
@import "../variables";
@import "../mixins";

body {
  font-family: $typographic-font-family-body;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --pink: #ffa7c4;
  --pink-thick: #d23669;
  background-color: var(--bg);
  overflow-x: hidden;
  overflow-y: auto;
}

body.light {
  --bg: #ffffff;
  --bg-invert: #888888;
  --bg-secondary: rgb(249, 250, 251);
  --header: var(--pink);
  --textNormal: #222;
  --subTextNormal: rgba(55, 53, 47, 0.6);
  --textTitle: #222;
  --textLink: var(--pink-thick);
  --hr: hsla(0, 0%, 0%, 0.2);
  --bg-inlineCode: rgba(255, 229, 100, 0.2);
  --inlineCode-text: var(--pink-thick);
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #282c35;
  --bg-invert: #e6e6e6;
  --bg-secondary: rgb(54, 60, 72);
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --subTextNormal: rgba(200, 202, 208, 0.6);
  --textTitle: #ffffff;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --bg-inlineCode: rgba(115, 124, 153, 0.2);
  --inlineCode-text: var(--pink);
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family-heading;
  font-weight: 500;
}

h1 {
  font-size: $typographic-base-font-size * 2;
  @include line-height(2);
  @include margin-top(1.5);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(1.25);
  @include margin-bottom(.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

img {
  border: 0;
  width: 100%;
  display: block;
  margin: inherit;
}

a.anchor {
  box-shadow: none;
}

a.anchor svg[aria-hidden="true"] {
  stroke: var(--textLink)
}

hr {
  border: 0;
  color: var(--textNormal);
  display: block;
  height: 26px;
  margin: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px,
    var(--textNormal) 11px, var(--textNormal) 15px, transparent 15px, transparent 26px);
  width: 100px;
}

a {
  color: var(--textLink);
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  &:hover,
  &:focus,
  &:active {
    text-shadow: 0 0 30px $color-primary;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
}

b {
  font-weight: 500;
}

ul {
  margin-right: 0;
  margin-top: 0;
  margin-block-start: 0.5rem;
  margin-block-end: 0;
  padding-left: 1rem;
  list-style: disc outside none;
  @include margin-bottom(0.5);

  & li {
    padding: 0 5px;
    @include margin-bottom(0.25);
  }
}

p {
  @include line-height(1);
  margin-block-start: 0.5rem;
  margin-block-end: 0.8125rem;
}

blockquote {
  font-style: italic;
  text-align: center;
  padding: 0 0 0 1.42188rem;
  margin: 0 1.75rem 1.75rem -1.75rem;
  font-size: 1.20112rem;
  line-height: 1.75rem;
  color: inherit;
  border-left: 0.32813rem solid hsla(0, 0%, 0%, 0.9);
  border-left-color: inherit;
  opacity: 0.8;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.layout {
  lost-center: $layout-width;
}

.content {
  &__inner {
    padding: 25px 20px;
  }
}

h3,
h4 {
  margin-left: 0.25rem !important;
}

@include breakpoint-xsm {

}

@include breakpoint-sm {

  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

  .content {
    lost-column: 7/12;

    &__inner {
      padding: 30px 20px;
    }
  }

  h3,
  h4 {
    margin-left: auto !important;
  }
}

@include breakpoint-md {
  .content {
    lost-column: 2/3;

    &__inner {
      padding: 40px 35px;
    }
  }

  h3,
  h4 {
    margin-left: auto !important;
  }

  h1 {
    font-size: $typographic-base-font-size * 2.5;
    @include line-height(2);
    @include margin-top(1.5);
    @include margin-bottom(1);
  }

  h2 {
    font-size: $typographic-base-font-size * 1.6875;
    @include line-height(1.5);
    @include margin-top(1.25);
    @include margin-bottom(.5);
  }

  h3 {
    font-size: $typographic-base-font-size * 1.375;
    @include line-height(1);
    @include margin-top(1);
    @include margin-bottom(.5);
  }

  h4 {
    font-size: $typographic-base-font-size * 1.2;
    @include line-height(1);
    @include margin-top(1.5);
    @include margin-bottom(.5);
  }
}
