<div class="share-buttons">
    <ul class="social">
        <li>
            <a class="share"></a>
        </li>
        <li>
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Twitter" class="twitter">
            </a>
        </li>
        <li>
            <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn" class="linkedin">

            </a>
        </li>
        <li>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook" class="fb">
            </a>
        </li>
    </ul>
</div>