<!--Create a sorted array of tags-->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %} {% assign sortedTags = site_tags | split:',' | sort %}
<aside>
    <h3>Archives</h3>
    <ul class="archives">
        <li><a href="{{site.baseurl}}/tags/">All posts</a></li>
        {% for tag in sortedTags %}
        <li><a href="{{site.baseurl}}/tags/#{{ tag | cgi_escape }}">{{ tag }} ({{ site.tags[tag].size }})</a></li>
        {% endfor %}
    </ul>
    <h3>Let's Connect</h3>
    <ul class="social">
        <li><a href="https://goo.gl/GV0rfe" target="_blank" title="Github" class="github">Github</a></li>
        <li><a href="https://goo.gl/ts5bwu" target="_blank" title="facebook" class="fb">Facebook</a></li>
        <li><a href="https://goo.gl/6L0i0B" target="_blank" title="linkedin" class="linkedin">LinkedIn</a></li>
        <li><a href="https://goo.gl/sCVAFe" target="_blank" title="twitter" class="twitter">Twitter</a></li>
    </ul>
    <ul class="social">
        <li><a href="https://goo.gl/wJhTLC" target="_blank" title="quora" class="quora">Quora</a></li>
        <li><a href="https://goo.gl/qCQ02b" target="_blank" title="wordpress" class="wordpress">Wordpress</a></li>
        <li><a href="https://goo.gl/uAf074" target="_blank" title="soundcloud" class="soundcloud">Wordpress</a></li>
        <li><a href="/feed.xml" target="_blank" title="rss" class="rss">RSS</a></li>
    </ul>
</aside>