/**
 * Tags
 */

.tags {
    &__list {
        &-item {
            &-link {
                color: $color-base;
                &:hover,
                &:focus {
                    color: $color-primary;
                }
            }
        }
    }
}
