@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";
@import "../../assets/scss/base/generic";

.sidebar {
    width: 100%;
    &__inner {
        position: relative;
        padding: 25px 20px 0;
        &-middle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__copyright {
        color: lighten($color-gray, 18%);
        font-size: $typographic-small-font-size;
        margin-bottom: 0;
    }
}

@include breakpoint-sm {
    .sidebar {
        lost-column: 5/12;
        &__inner {
            padding: 30px 20px 0;
            &:after {
                background: linear-gradient(to bottom, var(--bg-invert) 0%, var(--bg-invert) 48%, var(--bg) 100%);
                position: absolute;
                content: "";
                width: 1px;
                height: 540px;
                top: 30px;
                right: -10px;
                bottom: 0;
            }
            &-middle {
                display: inline-block;
            }
        }
    }
}

@include breakpoint-md {
    .sidebar {
        lost-column: 1/3;
        &__inner {
            padding: 40px;
        }
    }
}
